* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 68px;
  padding: 45px 100px 0 100px; /* top: 45 | droite: 100 | bas: 0 | gauche: 100 */
  box-sizing: border-box;
}


.header img {
  width: 150px;
}

.header nav {
  display: flex;
  gap: 20px;
}

.header nav a {
  color: #000000;
  font-size: 24px;
  font-weight: 500;
  text-decoration: underline;
}
.banner {
  position: relative;
  height: 223px;
  margin: 50px 100px;
  border-radius: 25px;
  overflow: hidden;
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(40%);
}

.banner h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 48px;
  font-weight: 500;
}
.logements {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 56px 60px;
  padding: 50px;
  background: #f6f6f6;
  border-radius: 25px;
  margin: 0 100px 43px;
  align-items: start;
}

.card {
  width: 100%;
  aspect-ratio: 1 / 1;    /* garde le carré proportionnel */
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-title {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}
.footer { background-color: #000000;
   height: 209px; 
   display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    gap: 20px;
   } 
    .footer-logo { 
      width: 122px; 
    } 
    .footer-text { 
      color: #FFFFFF; 
      font-size: 24px; 
      font-weight: 500; 
      margin: 0; }